.cart-layout {
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: -4px -4px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    max-width: 400px;
    background-color: #FFFFFF;
}
.cart-layout div > span {
    display: block;
    text-align: center;
}
.cart-layout .cart-summary {
    font-size: 18px;
}

.cart-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cart-header box-icon {
    text-align: left;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.cart-header .title {
    font-size: 24px;
}

.cart-validation {
    line-height: 40px;
}
.cart-validation .action-btn {
    color: #daa520;
    width: 80%;
    height: 40px;
    border: 3px solid #daa520;
    margin: 0 auto;
    cursor: pointer;
    font-family: 'Kdam Thmor Pro';
    transition: .5s;
    border-radius: 5px;
}
.cart-validation .action-btn:hover {
    color: #FFFFFF;
    background-color: #daa520;
}


@media screen and (max-width: 600px) {
    .cart-layout {
        gap: 10px;
    }
    .cart-header box-icon {
        width: 30px;
        height: 30px;
    }
    .cart-header .title {
        font-size: 20px;
    }
    .cart-layout .cart-summary {
        font-size: 14px;
    }

    .cart-validation {
        line-height: 30px;
    }
    .cart-validation .action-btn {
        border: 2px solid #daa520;
        color: #FFFFFF;
        background-color: #daa520;
        height: 30px;
        font-size: 14px;
    }
}