.playerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    padding: 20px;
    max-width: 300px;
    border: 1px solid #333;
    background-color: #dbdada;
}

.playerItem > img{
    width: 80%;
    margin: 0 auto;
}

.playerItem .player-informations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.playerItem .player-informations > p {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.playerItem .player-informations .player-name {
    font-size: 20px;
}
.playerItem .player-informations .player-grade {
    font-size: 30px;
}
.playerItem .player-informations .hint {
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}
.playerItem .player-informations .action-btn {
    border: 1px solid black;
    padding: 10px;
    background-color: goldenrod;
    box-shadow: 2px 2px 1px black;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    text-transform: uppercase;
    text-align: center;
}
.playerItem .player-informations .action-btn:hover {
    color: rgb(245, 206, 107);
    background-color: #FFFFFF;
}


@media screen and (max-width : 1000px) {
    .playerItem {
        max-width: 600px;
    }
    .playerItem .player-informations {
        gap: 8px;
    }
    .playerItem .player-informations .player-name {
        font-size: 18px;
    }
    .playerItem .player-informations .player-grade {
        font-size: 26px;
    }
    .playerItem .player-informations .action-btn {
        font-size: 14px;
    }
}


@media screen and (max-width : 600px) {
    .playerItem > img{
        width: 60%;
    }
    .playerItem .player-informations {
        gap: 5px;
    }
    .playerItem .player-informations p span {
        font-size: 14px;
    }
    .playerItem .player-informations .hint {
        font-size: 10px;
    }
}