.list-layout {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.list-layout ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 50px;
}